<div class="d-flex">
  <!-- Sidebar -->
  <div id="sidebar" class="sidebar  secundario-color" style="width: 250px; height: 100vh;">
    <div class="p-3 ">
      <div class="px-3 " style="color: #ffffff;">
        <h5>Atendí</h5>
      </div>
      <hr>
      <!-- Botón de hamburguesa -->

      <div id="navbarSupportedContent">
        <ul class="nav flex-column custom-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active"><i
                class="bi bi-house-door-fill fs-5"></i> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registrar" routerLinkActive="active"><i
                class="bi bi-person-fill-add fs-5"></i> Registrar Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/departamentos" href="#"><i class="bi bi-file-earmark-plus-fill fs-5"></i>
              Registrar procesos , ventanillas y
              departamentos</a>
          </li>
         
        </ul>
      </div>
    </div>
  </div>

  <!-- Content Area -->
  <div class=" content p-0" style="flex-grow: 1;">
    <div class="container-fluid d-flex p-1  justify-content-between principal-color">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
        aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> <i class="bi bi-list " style="font-size: 1.4rem;"></i></span>
      </button>

      <app-button-custom></app-button-custom>

    </div>

    <router-outlet></router-outlet>


    <div class="container-fluid  mt-1">
      <h2 class="text-center">Bienvenido al sistema Atendí </h2>
      <div class="container-fluid">
        <p><strong></strong>En este apartado progra ver graficas de los turnos concluido y no concluidos</p>
      </div>
      <div role="tabpanel border">
        <!-- Nav tabs (botones en horizontal) -->
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home" role="tab">Graficas por periodos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#profile" role="tab">Graficas por usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#messages" role="tab">Graficas por departamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#settings" role="tab">Graficas por tipo de operacion</a>
          </li>
        </ul>


        <div class="tab-content mt-3 ">
          <!-- Fecha -->
          <div class="tab-pane fade show active" id="home" role="tabpanel">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <form [formGroup]="formXFecha" (ngSubmit)="graficarPorFechas()">
                  <div class="mb-3 row">
                    <div class="col-md-4 d-flex align-items-center">
                      <label for="fechaInicio" class="form-label mb-0">Fecha Inicio</label>
                      <input type="date" id="fechaInicio" formControlName="fechaInicio" class="form-control ms-2"
                        required>
                    </div>

                    <div class="col-md-4 d-flex align-items-center">
                      <label for="fechaFin" class="form-label mb-0">Fecha Fin</label>
                      <input type="date" id="fechaFin" formControlName="fechaFin" class="form-control ms-2" required>
                    </div>

                    <div class="col-md-3 mb-3 text-center">
                      <button type="submit" class="btn btn-primary">Generar Gráfico</button>
                    </div>
                  </div>



                </form>
              </div>
            </div>
          
            <h4 class="text-bold text-center">Gráfico por periodo</h4>
            <div class="grafico-container" style=" width: 100%; margin: 0 auto;">

              <canvas id="myChart" class="" width="100%" height="500">

              </canvas>
            </div>

   

          </div>
          <!--Usuarios-->
          <div class="tab-pane fade" id="profile" role="tabpanel">
            <form [formGroup]="formXUser" (ngSubmit)="graficarPorUsers()">
              <div class="mb-3 row">
                <div class="col-md-4 d-flex align-items-center">
                  <select class="form-select form-select-lg border-dark" id="usuarioId" formControlName="usuarioId">
                    <option value="" disabled selected>Seleccione un usuario</option>
                    <option class="fs-5 border rounded-3 my-2 shadow-hover2" *ngFor="let usuario of Usuarios"
                      [value]="usuario.userName">
                      {{ usuario.userName }}
                    </option>
                  </select>
                </div>
                <div class="col-md-3 mb-3 text-center">
                  <button type="submit" class="btn btn-primary">Generar Gráfico</button>
                </div>
              </div>
            </form>
            <!----Contenido de la tabla-->
            <h4 class="text-bold text-center">Gráfico por usuario</h4>
            <div class="chart-container2" style="width: 100%; overflow-x: auto;">
              <canvas id="myChartUser" style="min-width: 800px;"></canvas> <!-- Ajusta el tamaño mínimo del gráfico si es necesario -->
            </div>
            
          </div>
          <!--Departamentos-->
          <div class="tab-pane fade" id="messages" role="tabpanel">
            <form [formGroup]="formXDep" (ngSubmit)="graficarPorDepartamento()">
              <div class="mb-3 row">
                <div class="col-md-4 d-flex align-items-center">
                  <select class="form-select form-select-lg border-dark" id="departamentoId" formControlName="departamentoId">
                    <option value="" disabled selected>Seleccione un departamento</option>
                    <option class="fs-5 border rounded-3 my-2 shadow-hover2" *ngFor="let departameno of Departamentos"
                      [value]="departameno.id">
                      {{ departameno.nombre }}
                    </option>
                  </select>
                </div>
                <div class="col-md-3 mb-3 text-center">
                  <button type="submit" class="btn btn-primary">Generar Gráfico</button>
                </div>
              </div>
            </form>
            <!----Contenido de la tabla-->
            <h4 class="text-bold text-center">Gráfico por departamento</h4>
            <div class="chart-container3" style="width: 100%; overflow-x: auto;">
              <canvas id="myChartDeps" style="min-width: 800px;"></canvas> <!-- Ajusta el tamaño mínimo del gráfico si es necesario -->
            </div>
          </div>
          <div class="tab-pane fade" id="settings" role="tabpanel">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <form [formGroup]="formXOpe" (ngSubmit)="graficarPorOperaciones()">
                  <div class="mb-3 row">
                    <div class="col-md-4 d-flex align-items-center">
                      <select class="form-select form-select-lg border-dark" id="operacionId" formControlName="operacionId">
                        <option value="" disabled selected>Seleccione una operacion</option>
                        <option class="fs-5 border rounded-3 my-2 shadow-hover2" *ngFor="let operacion of Operaciones"
                          [value]="operacion.id">
                          {{ operacion.nombre }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-3 text-center">
                      <button type="submit" class="btn btn-primary">Generar Gráfico</button>
                    </div>
                  </div>
                </form>
                <!----Contenido de la tabla-->
                <h4 class="text-bold text-center">Gráfico por tipo de operacion</h4>
                <div class="chart-container3" style="width: 100%; overflow-x: auto;">
                  <canvas id="myChartOps" style="min-width: 800px;"></canvas> <!-- Ajusta el tamaño mínimo del gráfico si es necesario -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>