
    <div class="container2 ">
        <div class="tittle">
            <h1 class="">Bienvenidos a la subdelegación del imss</h1>
        </div>
        <div class="list">
            <div><h2>Turnos en espera</h2></div>
            
            <div class="turnos">
              <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let turno of turnos">
                  <h3>{{turno}}</h3>
                </mat-list-item>
               
              </mat-list>
            </div>
        </div>
        <div class="attend">
            <div>hola</div>
        </div>
    </div>
